# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma generated client
generated/

# Environment variables
.env

# Build / cache
dist/
build/
.cache/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log